
<h3>band list</h3>

<ul class="bands list">
<% @bands.each do |band|%>
    <li><%= band.name %>
        <ul>
            <% band.albums.each do |album| %>
                <li><%= album.title %></li>
            <% end %>
            <li><a href="<%=new_band_album_url(band)%>">add album</a></li>
        </ul>
    </li>
<%end%>
</ul>